.column{
  width: 33%;
  float: left;
  padding: 10px; 
  /* border-width: */
  /* margin-top: 20px;
  margin-left: 10px; */
  /* margin-right: 1%;  */
  box-sizing: border-box;
}

/* .box {
  width: 100%;
  padding: 10px;
  border-width: 
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
} */

img{
  margin: auto;
  /*transform-origin: top;
  /* max-width: 33%; */
  /* max-width: 100%;*/
  max-height: 200px;
  object-fit: contain;
  width: 100%;
  height: auto;
 

}